Brotli==1.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
mutagen==1.47.0
pycryptodomex==3.20.0
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
requests==2.32.3
shiboken6==6.7.2
urllib3==2.2.2
websockets==12.0
yt-dlp==2024.8.6
